html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

header,
footer {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: rgba($color: #999999, $alpha: 1);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  top: 0;
}

main {
  margin: 60px auto 60px auto;
  width: 90%;
  line-height: 1.2;
}

footer {
  bottom: 0;
}
